body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.header {
    background-color: #e44d26;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo {
    margin: 0;
    font-size: 24px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

.chat-container {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    height: 300px;
    overflow-y: auto;
}

.message-box {
    margin-bottom: 10px;
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.query-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.send-btn,
.speech-btn,
.read-btn {
    padding: 10px;
    cursor: pointer;
    background-color: #4926e4;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.send-btn:hover,
.speech-btn:hover,
.read-btn:hover {
    background-color: #333;
}
